<mat-card class="rounded-left-none rounded-right bg-purple text-center text-white">
    <mat-card-content class="py-5">
        <label for="" class="mb-0  font-weight-medium"> {{loanAmountTitle}}</label>
        <p class="mb-4">&#x20b9;{{monthlyIncome}}</p>
        <label for="" class="mb-0  font-weight-medium"> {{emiTitle}}</label>
        <p class="mb-4">&#x20b9;{{totalEmi}}</p>
        <button class="btn btn-outline-primary rounded bg-white font-size-11px">{{buttonText}}</button>
    </mat-card-content>
</mat-card>